<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>

<h1>♦ Diamond Game</h1>

<input id="name" placeholder="Enter Name"><br>
<input id="key" placeholder="Enter Game Key"><br>

<button onclick="createGame()">Create Game</button>
<button onclick="joinGame()">Join Game</button>

<script>
var socket = io(window.location.origin);

// Create Game
function createGame(){
    let name = document.getElementById('name').value;

    if(!name){
        alert("Enter name first");
        return;
    }

    socket.emit('create_game');

    // listen ONCE
    socket.once('game_created', (key)=>{
        alert("Game Key: " + key);

        localStorage.setItem("name", name);
        localStorage.setItem("key", key);

        // NOW join properly
        socket.emit('join_game', {name: name, key: key});
    });
}

socket.on('game_created', (key)=>{
    alert("Game Key: " + key);
});

function joinGame(){
    let name = document.getElementById('name').value;
    let key = document.getElementById('key').value;

    localStorage.setItem("name", name);
    localStorage.setItem("key", key);

    socket.emit('join_game', {name, key});
}

socket.on('game_start', ()=>{
    window.location.href = "/game";
});
</script>

</body>
</html>